@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Asap:ital,wght@0,400;0,600;1,300&family=Oswald:wght@600&family=Pacifico&family=Roboto+Slab:wght@500&family=Unbounded:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 0 80px;
    /* border: 2px solid black; */
}

nav a{
    margin: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Unbounded', cursive;
}

.section1{
    display: flex;
    align-items: center;
    padding: 80px;
    /* border: 2px solid black; */
}

.section1 h2{
    font-size: 65px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    bottom: 80px;
}

.section1 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    bottom:40px;
}

.section1 button{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Asap';
    background-color:#2e4f7e;
    border-radius: 100px;
    width: 200px;
    height: 55px;
    color: white;
    border: 0;
    position: relative;
    top:50px;
}

.section1 button:hover{
    background-color: skyblue;
}

.section2{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
    /* border: 2px solid black; */
}

.section2 h2{
    font-size: 42px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

.section2 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top:25px;
}

.section2grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    position: relative;
    top: 95px;
}

.section2grid span{
    font-size: 20px;
    font-weight: 800;
}

.section3{
    display:flex;
    justify-content: space-between;
    padding: 100px;
    /* border: 2px solid black; */
}

.section3 h2{
    font-size: 45px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    top:73px;
}

.section3 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top:150px;
}

.section3 button{
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    font-family: 'Asap';
    border-radius: 100px;
    border: 0;
    width: 178px;
    height: 55px;
    background-color:#2e4f7e;
    color: white;
    font-weight: 600;
    word-spacing: 5px;
    position: relative;
    top:190px;
}

.section4{
    text-align: center;
    /* border: 2px solid black; */
}

.color{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 500px;
    position: relative;
    left: 544px;
    top:55px;
}

.color2{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 530px;
    position: relative;
    left: 527px;
    top: 125px;
}

.section4 h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Asap';
    margin-bottom: 120px;
    position: relative;
    top: 20px;
}

.section4 span{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}

.section4 a{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}


.section4grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 78px;
    margin-bottom: 100px;
}

.section4grid img{
    border-radius:10px;
}

.section4 button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    margin-bottom: 50px;
    position: relative;
    bottom: 130px;
}

.footerflex{
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    background-color: #b6cceb;
}

.footerflex h2{
    font-size: 55px;
    font-weight: 600;
    font-family: 'Asap';
    position: relative;
    bottom: 210px;
    right: 150px;
}

.footerflex button{
    border-radius: 200px;
    border: none;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    position: relative;
    bottom: 100px;
    right: 140px;
}

.element{
    margin-bottom: 100px;
    position: relative;
    right: 200px;
}
.footerflex2{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    background-color: #2e4f7e;
    padding:55px;
}

.footerflex2 a{
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.footerflex2 p{
    color: white;
}