@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Asap:ital,wght@0,400;0,600;1,300&family=Oswald:wght@600&family=Pacifico&family=Roboto+Slab:wght@500&family=Unbounded:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 0 80px;
    /* border: 2px solid black; */
}

nav a{
    margin: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Arimo', sans-serif;
    font-family: 'Asap', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Unbounded', cursive;
}

.section1{
    display: flex;
    align-items: center;
    padding: 80px;
    /* border: 2px solid black; */
}

.section1 h2{
    font-size: 65px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    bottom: 80px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-size: 40% 10px;
}

.section1 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    bottom:40px;
}

.section1 button{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Asap';
    background-color:#2e4f7e;
    border-radius: 100px;
    width: 200px;
    height: 55px;
    color: white;
    border: 0;
    position: relative;
    top:50px;
}

.section1 button:hover{
    background-color: skyblue;
}

.section2{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
    /* border: 2px solid black; */
}

.section2 h2{
    font-size: 42px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

.section2 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top:25px;
}

.section2grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    position: relative;
    top: 95px;
}

.section2grid span{
    font-size: 20px;
    font-weight: 800;
}

.section3{
    display:flex;
    justify-content: space-between;
    padding: 100px;
    /* border: 2px solid black; */
}

.section3 h2{
    font-size: 45px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    top:73px;
}

.section3 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top:150px;
}

.section3 button{
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    font-family: 'Asap';
    border-radius: 100px;
    border: 0;
    width: 178px;
    height: 55px;
    background-color:#2e4f7e;
    color: white;
    font-weight: 600;
    word-spacing: 5px;
    position: relative;
    top:190px;
}

.section4{
    text-align: center;
    /* border: 2px solid black; */
}

.color{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 500px;
    position: relative;
    left: 544px;
    top:55px;
}

.color2{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 530px;
    position: relative;
    left: 527px;
    top: 125px;
}

.section4 h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Asap';
    margin-bottom: 120px;
    position: relative;
    top: 20px;
}

.section4 span{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}

.section4 a{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}


.section4grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 78px;
    margin-bottom: 100px;
}

.section4grid img{
    border-radius:10px;
}

.section4 button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    margin-bottom: 50px;
    position: relative;
    bottom: 130px;
}

.footerflex{
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    background-color: #b6cceb;
}

.footerflex h2{
    font-size: 55px;
    font-weight: 600;
    font-family: 'Asap';
    position: relative;
    bottom: 210px;
    right: 150px;
}

.footerflex button{
    border-radius: 200px;
    border: none;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    position: relative;
    bottom: 100px;
    right: 140px;
}

.element{
    margin-bottom: 100px;
    position: relative;
    right: 200px;
}
.footerflex2{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    background-color: #2e4f7e;
    padding:55px;
}

.footerflex2 a{
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.footerflex2 p{
    color: white;
}

/* Services Page */
li{
    color: black;
    font-weight: 20px;
    font-family:'Asap';
    line-height: 40px;
}

.section_2{
    /* border: 2px solid black; */
}
.ourmain{
    margin-left: 550px;    
    margin-top: 80px;
    font-size: 2em;
    font-family: 'Asap';
    font-weight: 700;
    display: inline;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-repeat: no-repeat;
    background-size: 200% 10px;
    background-position: center center;
    color: black;
}

.servicespage_section_2{
    border: 20px black;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 50px;
    width: 1000px;
    margin-left: 200px;
    line-height: 20px;
    
}

.text{
    font-family: 'Asap';
    font-weight: 100;
    
}

.submarine{
    margin-top: 60px;

}

/* About Page */
.page_3{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-top: 150px;
}
.about{
    font-family: 'Asap';
}
.about> h2{
    font-size: 50px;
    display: inline;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-size: 100% 10px;
    margin-left: 80px;
    font-size: 2em;
    font-weight: 700;
    font-family:'Asap';
}
.flex_items{
    border: 2px solid black;
    height: 570px;
    border: 0;
}
.flex_{
    background-color: #dcf4f8;
    border-radius: 0 160px 160px;
    border: 2px solid black;
    height: 250px;
    width: 500px;
    position: relative;
    top: 140px;
    left: 150px;
    border: 0;
    
}

.flex_items2{
    border: 2px solid black;
    height: 570px;
    border: 0;
}
.flex2_{
    background-color: #dcf4f8;
    border-radius: 0 160px 160px;
    border: 2px solid black;
    height: 250px;
    width: 500px;
    position: relative;
    left: 1000px;
    bottom: 420px;
    border: 0;
}
.about1{
    /* border: 2px solid black; */
    margin-top: 400px;
}
.about1> h2{
    display: inline;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-repeat: no-repeat;
    background-size: 200% 10px;
    background-position: center center;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Asap';
    margin-left: 650px;
}
.page-img{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.about> h2{
    font-family: 'Asap';
    font-weight: 700;
    font-size: 50px; 
}
.about> p{
    margin-top: 50px; 
    margin-left: 80px; height: 
    150px; width: 500px; 
    line-height: 30px; 
    font-family: 'Asap'; 
    font-size: 20px;
}
.about> img{
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 80px;
}
.about> h3{
    /* border: 2px solid black; */
    position: relative;
    bottom: 120px;
    left: 200px;
    word-spacing: 70px;
    font-size: 40px; 
    font-weight: 700;
    font-family: 'Asap'; 
    /* background-image:url("https://demo.phlox.pro/portfolio-creative/wp-content/uploads/sites/157/2020/03/Group_4052.svg"); */
    /* background-repeat: no-repeat; */
    background-size: contain;
    width: 100%;
}
.about_img{
    margin-right: 50px; 
    width: 800px;
}
.about> h5{
    position: relative;
    bottom: 100px;
    left: 200px;
    word-spacing: 75px;
}
.client_section{
    /* border: 2px solid black; */
    margin-top: 300px;
}
.client> h2{
    font-size: 50px;
    margin-left: 550px;
    font-family: 'Asap';
    color: #000;
    font-weight: 700;
    display: inline;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-repeat: no-repeat;
    background-size: 200% 10px;
    background-position: center center;
}
/* PortfolioPage */
.portfolio1s{
    /* border: 2px solid black; */
    margin-top: 50px;
}
.portfolio1a> h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Asap';
    margin-left: 650px;
    display: inline;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-repeat: no-repeat;
    background-size: 200% 10px;
    background-position: center center;
}
.design{
    /* border: 2px solid black; */
    margin-top: 100px;
    margin-left: 450px;
}
.design> a{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 150px;
}
.design> span{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
}
.portfolio_button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    margin-left: 750px;
    position: relative;
    bottom: 120px;
}

/* Contact Page */

.contact_us{
    /* border: 2px solid black; */
    margin-top: 70px;
}
.contact_us> h2{
    margin-left: 650px;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Asap';
    display: inline;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-repeat: no-repeat;
    background-size: 200% 10px;
    background-position: center center;
}
.contact_us> span{
    width: 50px;
}

.placeholder{
    margin-left: 80px;
    margin-top: 50px;
}
.placeholder> input{
    width: 650px;
    height: 60px;
    background-color: rgba(220,244,248,.64);
    border-radius: 30px;
    border: none;
}
.placeholder1{
    margin-top: 20px;
    margin-left: 80px;
}
.placeholder1> input{
    width: 650px;
    height: 60px;
    background-color: rgba(220,244,248,.64);
    border-radius: 30px;
    border: none;
}
.placeholder2{
    margin-top: 20px;
    margin-left: 80px;
}
.placeholder2> input{
    width: 650px;
    height: 60px;
    background-color: rgba(220,244,248,.64);
    border-radius: 30px;
    border: none;
}
.placeholder3{
    margin-top: 20px;
    margin-left: 80px;
}
.placeholder3> input{
    width: 650px;
    height: 150px;
    background-color: rgba(220,244,248,.64);
    border-radius: 30px;
    border: none;
}
.placeholder3> .placeholder{
    color: red;
    font-weight: 300;
}

.button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    margin-left: 750px;
    position: relative;
    bottom:50px;
    top: 70px;
    right: 650px;
}

.info_{
    position: relative;
    left: 1050px;
    bottom: 400px;
}

.inline{
    display: inline;
    background-image: linear-gradient(#dcf4f8,#dcf4f8);
    background-repeat: no-repeat;
    background-size: 200% 10px;
    background-position: center center;
}
/* .map{
    border: 2px solid black;
    width: 1578px;
    height: 400px; */